@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}
  
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    color: #000000;
    background-color:#FFFFFF;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}


   
h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700; 
    margin: 0; 
    text-transform: uppercase;
}

.button {
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #83B3D3; 
}

.navigation-button {
    display: block;
    width: 160px;
    height: 37px;
    padding-top: 9px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.button-submit {
    width: 160px;
    height: 48px;
    align-self: center;
    margin-bottom: 20px;

}

.navigation-button,
.hotel-card-button {
    font-size: 16px;
    line-height: 21px;
    background-color: #756257;
} 

.hotel-card-button {
    display: block;
    width:151px;
    height: 37px;
    margin-right: 8px;
    padding: 9px 0  10px 0;
    box-sizing: border-box;
    
}

.search-hotels-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 575px;
    height: 60px;
    padding-top: 13px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 36px;
    background-color: #756257;  
    border-radius: 10px;
    box-sizing: border-box;
}

.newsletter-button,
.pagination-load-more {
    font-size: 20px;
    line-height: 26px;
}

.pagination-load-more {
   margin: 31px 215px 30px 216px;
   width: 625px;
   height: 55px;
   box-sizing: border-box;
}

.newsletter-button {
    width: 200px;
    padding: 1px 0 1px 0;
    border: 0;
}

.button-featured,
.button-submit {
    font-size: 16px;
    line-height: 21px; 
} 

.button-featured {
display: block;
width:160px;
height: 37px;
align-self: flex-end;
padding: 9px 0  10px 0;
box-sizing: border-box;
}

.button-featured-current {
    background-color: #7DB54F;
    padding: 9px 0  10px 0;
    box-sizing: border-box; 
}

.sorting-button {
    color: #000000;
    background-color: #FFFFFF;
}

.main-page-header {
    color: #000000;
    background-color:#FFFFFF;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 71px;
    box-sizing: border-box;
    
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.navigation-link-logo {
    padding: 0 209px 0 50px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    width: 410px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-link {
    display: block;
    padding: 19px 16px 20px 16px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.navigation-user {
    display: flex;
    align-items: center;
    max-width: 290px;
    margin: 0;
    padding: 0;
}

.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
    margin-right: 20px;
    padding: 0;
}

.main-container {
    display: flex;
    flex-grow: 1;
}

.main-index,
.pagination-load-more,
.newsletter-inner {
    text-align: center;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.welcome-image {
    background-color: #6eb8e9;
    display: block;
    margin: 0; 
}

.reasons {
padding: 63px 240px 79px 240px;
}

.about-sedona {
    padding-bottom: 23px; 

}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-item {
    width: 400px;
    display: flex; 
}

.item-no-image {
    display: flex;
    flex-direction: column;
}

.number {
    margin-bottom: 26px;   
}

.advantages-title  {
    padding-top: 98px;  
    margin-bottom: 25px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.no-number  {
    padding-top: 184px;  
    margin-bottom: 20px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

p.advantages-description {
   padding: 0 75px 77px 75px;
   margin: 0; 
     
}

p.advantages-description-1,
p.advantages-description-5  {
   padding: 0 90px 77px 90px;
   margin: 0; 
}

.background-1,
.background-5 {
    background-color:#83B3D3;
    color: #FFFFFF;
    width: 100%;
}

.background-3 {
    background-color:#FFFFFF;
    color: #333333;
    flex-direction: column;
}

.background-2,
.background-4,
.background-6,
.background-8 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
    width: 400px;
    flex-direction: column;
}

.background-7 {
    background-color:rgba(131, 179, 211, 0.2);
    color: #000000;
    width: 400px;
    flex-direction: column;
}


p.accent-black {
    color: #333333;
    background-color:#FFFFFF;
    margin: 0;     
}

.advantages p.accent-black {
    padding-bottom: 0;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
}

.hotel-search p.accent-black, 
.interest,
h2.accent {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.hotel-search p.accent-black {
    padding-bottom: 57px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.interest {
    padding-bottom: 15px;
}
 
p.accent-white {
    color: #FFFFFF;
    margin: 0 auto; 
    padding-bottom: 26px; 
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    width: 500px;
}

.hotel-search,
.reasons {
    background-color:#FFFFFF;

    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.hotel-search {
   padding-top: 91px;
   padding-bottom: 91px;
}

.field {
    background-color: #F2F2F2;
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    width: 600px;
    height: 60px;
    border: 0;
    box-sizing: border-box;
}

.newsletter, 
h2.accent {
    background-color: #6eb8e9; 
    color: #FFFFFF; 
}

.newsletter {
    padding-top: 94px;
    padding-bottom: 94px;
}

.newsletter-inner {
    padding-bottom: 138px;
}

.newsletter-form, .newsletter-form-inner {
    display: flex;
   justify-content: center;
}

p.newsletter-email {
    margin: 0;
}

h2.accent {
    padding-bottom: 15px;
}

.main-inner {
    background-color: #FFFFFF;  
}

.catalog-hotels,
.inner-header {
    color: #FFFFFF; 
}

.inner-header {
    padding-top: 35px;
    margin-bottom: 45px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px; 
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
   
.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin-right: 26px;
    color: inherit;
}

form.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 83px;
}

.filter {
    background-color: #8d4311;
    width: 1200px;
    padding-left: 71px;
    box-sizing: border-box;
      
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;  
}

.catalog-filter-list {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.submit-reset {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.reset {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #FFFFFF; 
    background-color: #8d4311;
    border: hidden;

}


.row-results {
    display: flex;
    width: 1057px;
    padding-left: 71px;
    padding-right: 72px;
    padding-top: 44px;
    padding-bottom: 42px;

    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.row-results .sorting-button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.results {
    color: #000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 192px;
}

.sorting-type {
    margin-right: auto;
  
}

.select-control {
    padding: 12px 127px 13px 19px;
}

.select-control,
.note,
.hotels-on-page,
.select-quantity {
    color: #333333; 
    line-height: 23px;
    font-weight: 400; 
}

.infrastructure {
    margin-right: 67px;
    padding: 0;
}

.housing {
    margin-right: 167px;
    padding: 0;
}

.price {
    width: 287px;
    margin-right: 81px;
    padding: 0;
}

.cards {
    width: 1056px;
    margin: 0;
    padding-left: 72px;
    padding-right: 72px; 

    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.hotel-card {
    display: flex;
    padding-top: 28px;
    padding-bottom: 30px;

    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.info-hotel {
    display: flex;
    flex-wrap: wrap;
    width: 319px;
    margin-right: 361px;
}

.column-1 {
    margin: 0;  
}

.column-2 {
    margin: 0;  
}

.note {
    display: block;
    padding: 0;
    margin-bottom: 31px;
}

.hotel-card-image {
    display: block; 
    padding-right: 37px;
}

.hotel-card-title {
    color: #000000;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 1px; 
    text-transform: none;
}   

a.hotel-card-link {
    text-decoration: none;
}

.top-list {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    color: #333333; 
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400; 
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-container {
    display: flex;
    padding: 31px 72px 89px 72px; 
    width: 1056px;
    margin: 0;
    
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.pagination-item:not(:last-child) {
    margin-right: 7px;
  }

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 20px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
  
.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
} 

.quantity-hotels-on-page {
    margin-left: auto;
}

.hotels-on-page {
   margin-right: 51px;
}

.select-quantity {
    width: 160px;
    height: 48px;
}

.newsletter-inner {
    width: 800px;
    padding-left: 200px;
    padding-right: 200px; 

    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

h2.accent-inner {
    padding-bottom: 15px;
}

.newsletter-inner p.accent-black {
    margin: 0 auto;
    padding-bottom: 26px;
    width: 500px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400; 
   
}


.page-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 72px 30px 72px;
    box-sizing: border-box;
    background-color: #FFFFFF;

    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}

.footer-social {
    max-width: 120px;
    
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 20px;
    height: 20px;
    margin-right: 30px;
   
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.contacts-phone {
    width: 720px;
    height: 50px;
    text-align: center;  
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000; 
    text-decoration: none;
}

p.about-text {
margin: 0;
}





