@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}
  
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
    color: #000000;
}

.central-container {
   width: 1200px;
   margin: 0 auto;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2:not(h2.accent) {
    color: #000000;
    background-color:#FFFFFF;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
   
h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700; 
    margin: 0; 
    text-transform: uppercase;
}

.button {
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #83B3D3; 
    padding-top: 9px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.navigation-button {
    width: 160px;
    height: 37px;
    background-color: #756257;    
}

.search-hotels-button {
    width: 575px;
    height: 60px;
    padding-top: 13px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 36px;
    background-color: #756257;  
    border-radius: 10px;   
}

.navigation-button:hover,
.search-hotels-button:hover,
.hotel-card-button:hover {
    background-color: #615048;  
}

.navigation-button:focus,
.search-hotels-button:focus,
.hotel-card-button:focus {
    background-color: #615048;  
    outline: 3px solid #83B3D3;
}

.navigation-button:active,
.search-hotels-button:active,
.hotel-card-button:active {
    background-color: #615048;  
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.newsletter-button {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
    padding-top: 1px;
    padding-bottom: 1px; 
    border-radius: 0px 10px 10px 0px;
}

.newsletter-button:hover,
.pagination-link:hover {
    background-color:#68A2CA;
}

.newsletter-button:focus,
.pagination-link:focus {
    background-color:#68A2CA;
    outline: 3px solid #756257;
}

.newsletter-button:active,
.pagination-link:active {
    background-color:#68A2CA;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.button-submit {
    width: 160px;
    height: 48px;
    margin-bottom: 20px;
}

.button-submit:hover {
    background-color:#68A2CA;
}

.button-submit:focus {
    background-color:#68A2CA;
    border: 3px solid #FFFFFF;
}

.button-submit:active {
    background-color:#68A2CA;
    color: rgba(255, 255, 255, 0.3);
    border: none;
}

.hotel-card-button {
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
    width: 151px;
    height: 37px;
    background-color: #756257; 
}

.button-featured {
    grid-column: 3 / 4;
    grid-row: 3 / 4; 
    width:160px;
    height: 37px;
    align-self: flex-end;
}

.button-featured:hover {
    background-color:#68A2CA;
    outline: 1px solid #756257;  
}

.button-featured:focus {
    background-color:#68A2CA;
    outline: 3px solid #756257;
}

.button-featured:active {
    background-color:#68A2CA;
    color: rgba(255, 255, 255, 0.3);
    outline: 1px solid #756257;  
}

.button-featured-current {
    background-color: #7DB54F;
}

.button-featured-current:hover {
    background-color:#6C9E42;
    outline: none;  
}

.button-featured-current:focus {
    background-color:#6C9E42;
    outline: 3px solid #756257;
}

.button-featured-current:active {
    background-color:#6C9E42;
    color: rgba(255, 255, 255, 0.3);
    outline: none;  
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 31px;
    padding-bottom: 30px;
}

.load-more::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    transform: translateY(57.5px); 
}


.pagination-load-more {
    font-size: 20px;
    line-height: 26px;
    width: 625px;
    height: 55px;  
}

.card-grid-toggle,
.main-page-header {
    color: #000000;
    background-color:#FFFFFF;
}

.main-page-header {
    position: relative;   
}

.navigation {
    display: flex;
    padding: 0 72px 0 71px;
    box-sizing: border-box;  
}

.logo-sedona {
    position: relative; 
    width: 138px;  
    height: 65px;
    padding: 0 170px 0 50px;
}

.logo {
    position: absolute;  
    width: 138px;  
    height: 70.05px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    width: 410px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 6px 12px;
    margin-right: 21px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}  

.navigation-user {
    display: flex;
    align-items: center;
    max-width: 290px;
    margin: 0;
    padding: 0;
}

.navigation-user .navigation-link {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    padding: 0;
}

.navigation-link-feature::after {
    position: absolute;
    left: 21.5px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #7DB54F;
    content: "12";
    font-size: 10px;
    font-weight: normal;
    line-height: 19px;
    color: #FFFFFF;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.navigation-link:hover,
.contacts-phone:hover {
    color: #756257;
}

.navigation-link:focus,
.contacts-phone:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.navigation-link:active,
.contacts-phone:active {
    color: #756257;
    opacity: 0.3; 
    border: none;  
}

.navigation-link-current::before {
    position: absolute;
    bottom: -16px;
    left: 10px;
    right: 10px;
    height: 0px;
    border: 2px solid #756257;
    background-color:#756257;
    content: "";
}

.navigation-icon:hover,
.footer-icon:hover {
    fill: #756257;
}

.navigation-icon:focus,
.htmlacademy-link:focus .footer-icon {
    fill: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.navigation-icon:active,
.footer-icon:active {
    fill: #756257;
    opacity: 0.3;
    border: none;   
}

.main-container {
    display: flex;
    flex-grow: 1;
}

.main-index,
.pagination-load-more,
.newsletter-inner {
    text-align: center;
}

.welcome-image {
    background-color: #6eb8e9;
    display: block;
    margin: 0; 
}

.reasons {
    padding: 63px 240px 79px 240px;
}

.about-sedona {
    padding-bottom: 23px; 
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, 384px);
    list-style-type: none;
}

.background-1 {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color:#83B3D3;
    color: #FFFFFF;
    width: 100%;
}

.item-no-image-first,
.item-no-image-second {
    flex-direction: column;
}

.background-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.background-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color:#FFFFFF;
    color: #333333;
    flex-direction: column;
}

.background-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.background-5 {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color:#83B3D3;
    color: #FFFFFF;
    width: 100%;
}

.background-6 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.background-7 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color:rgba(131, 179, 211, 0.2);
    color: #000000;
    width: 400px;
    flex-direction: column;
}

.background-8 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.background-2,
.background-4,
.background-6,
.background-8 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
    width: 400px;
    flex-direction: column;
}

.number {
    display: block;
    padding-bottom: 26px;   
}

.advantages-title  {
    padding-top: 98px;  
    margin-bottom: 25px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.icon-house,
.icon-burger,
.icon-present {
    position: relative;
}

.icon-house::before  {
    position: absolute;
    width: 75px;
    height: 72px;
    top: 89px;
    background-image: url("../img/house.svg");
    background-position: center;
    content: "";  
}

.icon-burger::before  {
    position: absolute;
    width: 74px;
    height: 70px;
    margin-left: -37px;
    left: 50%;
    top: 91px;
    background-image: url("../img/burger.svg");
    background-position: center;
    content: "";  
}

.icon-present::before  {
    position: absolute;
    width: 64px;
    height: 75.95px;
    margin-left: -32px;
    left: 50%;
    top: 85.05px;
    background-image: url("../img/present.svg");
    background-position: center;
    content: "";  
}

.no-number  {
    padding-top: 184px;  
    margin-bottom: 20px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

p.advantages-description {
   padding: 0 75px 77px 75px;
   margin: 0;    
}

p.advantages-description-1,
p.advantages-description-5  {
   padding: 0 90px 77px 90px;
   margin: 0; 
}

p.accent-black {
    color: #333333;
    background-color:#FFFFFF;
    margin: 0;     
}

.advantages p.accent-black {
    padding-bottom: 0;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
}

.hotel-search p.accent-black, 
h2.interest,
h2.accent {
    width: 720px;
    margin: 0 auto;   
}

.hotel-search p.accent-black {
    padding-bottom: 57px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.interest {
    padding-bottom: 15px;
}
 
p.accent-white {
    color: #FFFFFF;
    margin: 0 auto; 
    padding-bottom: 26px; 
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    width: 500px;
}

.hotel-search,
.reasons {
    background-color:#FFFFFF;
}

.hotel-search {
   padding-top: 91px;
   padding-bottom: 91px;
}

.field {
    background-color: #F2F2F2;
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    width: 600px;
    height: 60px;
    border: 0;
    box-sizing: border-box;
}

.newsletter {
    background-image: url("../img/background-newsletter.jpg");
    background-color: #6eb8e9; 
    color: #FFFFFF; 
    padding-top: 94px;
    padding-bottom: 94px;
}

.newsletter-inner {
    padding-bottom: 138px;
}

.newsletter-form, .newsletter-form-inner {
   display: flex;
   justify-content: center;
}

p.newsletter-email {
    margin: 0;
}

h2.accent {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;  
}

.main-inner {
    background-color: #FFFFFF;  
}

.catalog-hotels,
.inner-header {
    color: #FFFFFF; 
}

.inner-header {
    padding-top: 35px;
    margin-bottom: 45px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px; 
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
 
.breadcrumbs-item {
    position: relative;
    margin-right: 25px;
    list-style-type: none;  
}
  
.breadcrumbs-item::after {
    position: absolute;
    top: 9px;
    right: -15px;
    width: 5.11px;
    height: 7.95px;
    background-image: url("../img/catalog/stroke-right.svg");
    background-repeat: no-repeat;
    content: "";   
}
  
.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: inherit;
}

.breadcrumbs-link:hover {
    color:#FFFFFF;
    opacity: 60%;
}

.breadcrumbs-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.breadcrumbs-link:active {
    color: #FFFFFF;
    opacity: 0.3; 
    border: none;  
}

.breadcrumbs-icon {
    width: 28px;
    height: 27px;
    padding: 6.3px 8px 9px 8px;
    box-sizing: border-box;
}

form.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 83px;
}

.filter {
    background-image: url("../img/catalog/catalog-background.jpg");
    background-color: #8d4311;
    padding-left: 71px;
    box-sizing: border-box;   
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;  
}

.catalog-filter-list {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.submit-reset {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.reset {
    align-self: center;
    width: 100px;
    height: 32px;
    font-family: inherit;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #FFFFFF; 
    background-color: transparent;
    border: hidden;
}

.reset:hover {
    color: rgba(255, 255, 255, 0.6);
}

.reset:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.reset:active {
    color: rgba(255, 255, 255, 0.3);
    outline: 0;
    cursor: default;
    border: none;
}

.row-results {
    display: flex;
    padding-left: 71px;
    padding-right: 72px;
    padding-top: 44px;
    padding-bottom: 42px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  outline: 2px solid #E6E6E6;
  border-radius: 4px;  
  box-sizing: border-box;
  border: none;
}

/*.card-grid-toggle-current {
    border-color: #000000;
}*/

.card-grid-toggle:hover,
.card-grid-toggle:focus {
    outline: 2px solid #83B3D3;
}

.card-grid-toggle:active {
   outline: 2px solid #000000;
}

.results {
    color: #000000;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 192px;
}

.sorting-type {
    margin-right: auto; 
    width: 287px;
    height: 48px;
    box-sizing: border-box;
}

.select-control {
    padding: 12px 127px 13px 19px;
}

.select-control,
.note,
.hotels-on-page,
.select-quantity {
    color: #333333; 
    line-height: 23px;
    font-weight: 400; 
}

.infrastructure {
    margin-right: 67px;
    padding: 0;
}

.housing {
    margin-right: 167px;
    padding: 0;
}

.price {
    width: 287px;
    margin-right: 81px;
    padding: 0;
}

.cards {
    padding-left: 72px;
    padding-right: 72px; 
}

.hotel-card {
    position: relative;
    padding-top: 31px;
    padding-bottom: 30px;  
}

.hotel-card:first-child {
    position: relative;
}

.hotel-card:first-child::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    transform: translateY(-31px); 
}

.hotel-card::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    transform: translateY(30px); 
}

.card-container {
    display: grid;
    grid-template-columns: 180px 36px 680px 160px;
    grid-template-rows: 120px;
    width: 100%;
    height: 100%;
}

.note-type {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
}

.note-price {
    grid-column: 3 / 4;
    grid-row: 2 / 3; 
}

.hotel-card-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;     
}

.info-hotel {
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
    display: grid;
    grid-template-columns: 151px 8px 160px 361px;
    grid-template-rows: min-content auto 37px; 
}

.hotel-card-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2; 
    color: #000000;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 1px; 
    text-transform: none;
} 

.hotel-card-link-title {
    text-decoration: none;
    outline: none; 
}

.hotel-card-link-title:hover .hotel-card-title {
    color: #756257;
}

.hotel-card-link-title:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.hotel-card-link-title:active {
    color: #756257;
    opacity: 0.3;
    outline: none;
}

a.hotel-card-link-image {
    text-decoration: none;
    width: 180px;
    outline: none;
}

.hotel-card-link-image:hover {
    opacity: 0.6;
}

.hotel-card-link-image:focus {
    outline: 3px solid #83B3D3;
}

.hotel-card-link-image:active {
    opacity: 0.3;
    outline: none;
}

.top-list {
    grid-column: 4 / 5;
    grid-row: 1 / 2;  
    align-self: flex-end;
    width: 160px;
    height: 37px;
    background-color: #F2F2F2;
    color: #333333; 
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400; 
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
}

.top-list::before {
    position: absolute;
    width: 93px;
    height: 17px;
    top: -81.5px;
    content: "";  
    background-image: url("../img/catalog/star.svg"); 
}

.hotel-card:nth-of-type(2) .top-list::before {
    position: absolute;
    width: 68px;
    height: 17px;
    top: -81.5px;
    left: 45px;
    content: "";  
    background-image: url("../img/catalog/star.svg");    
}

.hotel-card:nth-of-type(3) .top-list::before,
.hotel-card:nth-of-type(4) .top-list::before {
    position: absolute;
    width: 43px;
    height: 17px;
    top: -81.5px;
    left: 55px;
    content: "";  
    background-image: url("../img/catalog/star.svg");    
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-container {
    display: flex;
    padding: 31px 72px 89px 72px; 
    box-sizing: border-box;
}

.pagination-item:not(:last-child) {
    margin-right: 7px;
  }

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding-top: 14px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    outline: none;
}
  
.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
} 

.quantity-hotels-on-page {
    margin-left: auto;
}

.hotels-on-page {
   margin-right: 51px;
}

.select-quantity {
    width: 160px;
    height: 48px;
}

.newsletter-inner {
    width: 800px;
    padding-left: 200px;
    padding-right: 200px; 
}

h2.accent-inner {
    padding-bottom: 15px;
}

.newsletter-inner p.accent-black {
    margin: 0 auto;
    padding-bottom: 26px;
    width: 500px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;   
}

.page-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 72px 30px 72px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.footer-social {
    max-width: 120px; 
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center; 
    color: #83B3D3;  
}

.footer-social-link:hover {
    color: #68A2CA;
}

.footer-social-link:focus {
    color: #68A2CA;
    outline: 2px solid #68A2CA;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.footer-social-link:active {
    color: rgba(131, 179, 211, 0.2);
    outline: 0;
    border: none;
}
  
.contacts-phone {
    width: 720px;
    height: 50px;
    text-align: center;  
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000; 
    text-decoration: none;
}

.contacts-phone:focus {
    width: 331px;
    height: 40px;
}

.footer-icon {
    display: block;
    fill: #000000;
    padding: 5px 10px;  
}   

.htmlacademy-link {
    outline: none;
}
    
p.about-text {
    margin: 0;
}





